.Settings-Button {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  background-size: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 2px rgba(168, 168, 168, 1);
}

.Settings-Button.Settings-Button__Selected {
  background-color: #f1f1f1;
}

.Settings-Button:hover {
  box-shadow: 0px 0px 6px 3px rgba(148, 148, 148, 1);
}
