.Settings-Menu_Item {
  display: flex;
  align-items: center;

  padding: 10px 15px;

  background-color: #ffffff;
}

.Settings-Menu_Item img {
  margin-right: 10px;
}

.Settings-Menu_Item span {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.Settings-Menu_Item:hover {
  background-color: #f1f1f1;
}
