.panel-tool-button {
    width: 45px;
    height: 45px;
}

.panel-tool-button__history-undo {
    background: url('../../assets/undo.svg') center center no-repeat;
}

.panel-tool-button__history-redo {
    background: url('../../assets/redo.svg') center center no-repeat;
}

.panel-tool-button__history-undo,
.panel-tool-button__history-redo {
    background-size: 1.5rem;
}

.panel-tool-button__history-undo:hover,
.panel-tool-button__history-redo:hover {
    background-size: 1.6rem;
}