button.panel-tool-button {
    height: 3.6rem;
}

.panel-tool-button.pen-black {
  background-image: url("../../assets/pen-black.svg");
}

.panel-tool-button.pen-red {
  background: url("../../assets/pen-red.svg");
}

.panel-tool-button.pen-blue {
  background: url("../../assets/pen-blue.svg");
}

.panel-tool-button.pen-green {
  background: url("../../assets/pen-green.svg");
}

.panel-tool-button.pen-black,
.panel-tool-button.pen-red,
.panel-tool-button.pen-blue,
.panel-tool-button.pen-green {
  width: 70px;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center 0.65rem;
}

.panel-tool-button.pen-black:hover,
.panel-tool-button.pen-red:hover,
.panel-tool-button.pen-blue:hover,
.panel-tool-button.pen-green:hover {
  background-position-y: 0;
}

.panel-tool-button.panel-tool-button__selected {
  position: relative;
  background-position-y: 0;
  background-color: rgb(226, 226, 226);
}

.panel-tool-button__selected::after {
  position: absolute;
  content: "";

  top: 5px;
  right: 5px;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  background-color: rgb(82, 82, 82);
}
