.Tools-Panel {
  position: fixed;

  right: 0;
  bottom: 0;
  left: 0;

  width: 460px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  padding: 0 10px;

  border-radius: 5px 5px 0 0;
  background: #ffffff;
  box-shadow: 0px 0px 6px 2px rgba(168, 168, 168, 1);
}

.Tools-Panel {
  animation: panelAnimation cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes panelAnimation {
  0% {
    -webkit-transform: translate(0px, 60px);
  }
  100% {
    -webkit-transform: translate(0px, 1px);
  }
}
