.Settings-Menu {
  display: flex;
  flex-direction: column;
  width: 190px;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 2px rgba(168, 168, 168, 1);
}
