button.panel-tool-button {
  height: 3.6rem;
  background-color: #ffffff;
}

.panel-tool-button.panel-tool-button__erase {
  width: 70px;

  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center 0.95rem;
  background-image: url("../../assets/pencil.svg");
}

.panel-tool-button__erase:hover {
  background-position-y: 0.35rem;
}

.panel-tool-button__erase.panel-tool-button__selected {
  position: relative;
  background-position-y: 0.35rem;
  background-color: rgb(226, 226, 226);
}

.panel-tool-button__selected::after {
  position: absolute;
  content: "";

  top: 5px;
  right: 5px;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  background-color: rgb(82, 82, 82);
}
