body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
}

.App-Container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.App-Container .Settings-Dropdown {
  position: fixed;

  top: 5%;
  right: 5%;
}

.Settings-Dropdown .Settings-Menu {
  position: absolute;
  display: flex;
  top: 65px;
  right: 0;
}

.Settings-Dropdown {
  animation: settingsAnimation cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes settingsAnimation {
  0% {
    -webkit-transform: translate(40px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
